[user]
  name = Adam Ratcliffe
  email = adam.ratcliffe@gmail.com

[core]
  editor = emacs 

[init]
  defaultBranch = main

[push]
  default = current

[merge]
	tool = opendiff

[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --

[mergetool]
	keepBackup = false
	
[pull]
	ff = only