init.author.name=Adam Ratcliffe
init.author.email=adam.ratcliffe@tomtom.com
init.author.url=https://github.com/AdamRatcliffe-TomTom
scripts-prepend-node-path=auto
//pkgs.dev.azure.com/tomtomweb/b8003b70-c040-4ff9-92f2-4fb37cc2cebb/_packaging/TTI-FE/npm/:username=tomtomweb
//pkgs.dev.azure.com/tomtomweb/b8003b70-c040-4ff9-92f2-4fb37cc2cebb/_packaging/TTI-FE/npm/:_password="eHp0aTV6aHJxNGs2NW1rYTV0Z3E2bjY1aHRvdmtia21kbjZobjJ3N3I0bzNjY3hqa3U2cQ=="
//pkgs.dev.azure.com/tomtomweb/b8003b70-c040-4ff9-92f2-4fb37cc2cebb/_packaging/TTI-FE/npm/:email=npm requires email to be set but doesn't use the value
//registry=https://pkgs.dev.azure.com/tomtomweb/b8003b70-c040-4ff9-92f2-4fb37cc2cebb/_packaging/TTI-FE/npm/registry/